<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <h3>Add Transmission Type</h3>
          <hr>
          <form [formGroup]="addTransmissionTypeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="serial_number">Serial number</label>
              <input type="text" id="serial_number" formControlName="serial_number" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addTransmissionTypeForm.get('serial_number').errors }" />
              <div *ngIf="submitted && addTransmissionTypeForm.get('serial_number').errors" class="invalid-feedback">
                <div *ngIf="addTransmissionTypeForm.get('serial_number').errors['required']">Serial number is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="transmission_type">Type</label>
              <input type="text" id="transmission_type" formControlName="transmission_type" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addTransmissionTypeForm.get('transmission_type').errors }" />
              <div *ngIf="submitted && addTransmissionTypeForm.get('transmission_type').errors" class="invalid-feedback">
                <div *ngIf="addTransmissionTypeForm.get('transmission_type').errors['required']">Transmission type is required</div>
              </div>
            </div>
            <button mat-raised-button style="position: center" color="primary" class="pull-right">Save</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
