<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Ad title </th>
      <td mat-cell *matCellDef="let element"> {{element.ad.title}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> Start time </th>
      <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> End time </th>
      <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="reserve">
      <th mat-header-cell *matHeaderCellDef> Reserve ad </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="primary" (click)="reserve(element)"> Reserve </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <form [formGroup]="owForm" (ngSubmit)="onSubmit()">
<div>
  <mat-form-field>
    <mat-select id="clients" formControlName="clients" class="form-control" placeholder="Select bundle">
      <mat-option *ngFor="let option of ows" value="{{option.client.email}}">{{option.client.email}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
            <button mat-raised-button style="position: center" color="primary" class="pull-right">Bundle</button>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>

