<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="sadrzaj">
        <div class="row">
          <div class="col-md-12">
            <div class="naslov">
              <h3>Exclusive Limo Service &amp; Rent a Car - Uslovi rentiranja     </h3>
            </div>
            <h5><b>Opšti uslovi:</b></h5>
            <p>
              Vozilo je iznajmljeno kada je potpisan ugovor između Exclusive d.o.o. i Korisnika najma.
              Lice koje iznajmljuje vozilo mora imati minimum 23 godine starosti i 1 godinu vozačkog iskustva.
              Prilikom preuzimanja vozila kupac treba da ima važeću vozačku dozvolu i ličnu kartu (ili pasoš).
              Kazne i dodatne administrativne zabrane koje su proistekle iz prekršaja bilo kog člana Zakona o saobraćaju Republike Srbije tokom perioda najma padaju isključivo na teret KORISNIKA najma.
              Iznajmljeno vozilo može se koristiti samo za vlastite potrebe i ne sme se iznajmljivati ili posuđivati trećem licu. Vozilo se ne sme opterećivati putnicima ili predmetima preko dozvoljene maksimalne težine.
              Za izlazak iz zemlje neophodno je pismeno ovlašćenje izdato od strane Exclusive d.o.o. za prelazak preko granice</p>

            <h5><b>Trajanje najma:</b></h5>
            <p>Minimalno trajanje najma je jedan dan (24h). Na kraju najma Exclusive d.o.o..omogućava dodatni rok od 60 minuta      (1 sata) za povratak vozila posle ugovorenog vremena koji se ne naplaćuju. Posle 60 minuta (1 sata) omogućeni period ističe, a Korisniku najma će biti naplaćen ceo sledeći dan.
              Korisnik može promenti, samo uz odobrenje Exclusive d.o.o. mesto vraćanja vozila i/ili vreme najma vozila.</p>

            <h5><b>Cena najma:</b></h5>
            <p>U dnevnu cenu najma uračunato je potpuno kasko osiguranje vozila.
              Cena najma ne uključuje troškove goriva.</p>

            <h5><b>Plaćanje:</b></h5>
            <p>VISA, VISA Elektron, MASTERCARD, MAESTRO i DINACARD, tekući račun, gotovina.
              Naplata se vrši u dinarima po važećem prodajnom krusu xxxx banke.</p>

            <h5><b>Depozit:</b></h5>
            <p>Obavezan garantni depozit na platnim ili kreditnim karticama. Depoziti u gotovini se ne prihvataju.</p>
            <h5><b>Odgovornost trećeg lica:</b></h5>
            <p>
              Iznajmljeno vozilo je osigurano od štete prema trećem licu u skladu sa srpskim zakonom i dokumenta koja se na to odnose nalaze se u kolima.
              U slućaju štete na iznajmljenom vozilu, obavezan je policijski izveštaj. U slučaju krađe iznajmljenog vozila, obavezan je policijski izveštaj. Pri prijavi krađe korisnik mora kod sebe imati kompletnu dokumentaciju (saobraćajna dozvola, ugovor o najmu,…) i originalni ključ. Kasko osiguranje ne obuhvata oštećenja nastala na gumama i felnama vozila, upravljačkom mehanizmu, karteru vozila, gubitak ključa i oštećenja nastala na enterijeru vozila. U slučaju gubitka ključa, korisnik vozila (klijent), snosi troškove izrade novih ključeva, i zamene svih brava na iznajmljenom vozilu.
              Kasko osiguranja ne obuhvata oštećenja nastala: U slučaju da je vozilom upravljalo lice koje nije ovlašćeno ugovorom o vožnji od strane Exclusive d.o.o.; Štete nastale grubim kršenjem saobraćajnih propisa (nasilnička vožnja), crveno svetlo, dupla puna linija, preticanje u tunelu, vožnja u alkoholisanom stanji i pod dejstvom narkotika.
              Klijent se obavezuje da će snositi sve eventualne troškove nastale nepoštovanjem gore navedenih odredbi.

            </p><br>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <div class="prognoza">
          <h6>Vremenska prognoza</h6><br>
          <iframe class="embed-responsive-item" id="iframe_navidiku_vreme" src="http://www.navidiku.rs/webtools/vreme//FFFFFF/FFFFFF/000000/FFFFFF/CFCFCF/15/1/trenutno-vreme.html" frameborder="0" scrolling="auto" height="250" width="90%"></iframe><div style="width=250px"><a id="navidiku_vreme" href="http://www.navidiku.rs/vremenska-prognoza/" target="_blank">Vremenska prognoza</a></div><br><br>

        </div>
        <div class="kursna-lista">
          <h6>Kursna lista</h6><br>
          <iframe class="embed-responsive-item" id="iframe_vreme" src="http://www.naslovi.net/plugin/kursna_lista.php?bgcolor=ffffff&amp;color=000000" frameborder="0" height="90" scrolling="no" width="200"><a href='http://www.naslovi.net/kursna-lista'>Kursna lista</a></iframe>

        </div>
      </div>
    </div>
  </div>

</div>
