<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <h3>Add a new ad</h3>
          <hr>
          <form [formGroup]="addAdForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">Name</label>
              <input type="title" id="title" formControlName="title" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addAdForm.get('title').errors }">

              <div *ngIf="submitted && addAdForm.get('title').errors" class="invalid-feedback">
                <div *ngIf="addAdForm.get('title').errors['required']">Email is required</div>
                <div *ngIf="addAdForm.get('title').errors['title']">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" id="description" formControlName="description" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addAdForm.get('description').errors }" />
              <div *ngIf="submitted && addAdForm.get('description').errors" class="invalid-feedback">
                <div *ngIf="addAdForm.get('description').errors['required']">Country is required</div>
              </div>
            </div>

            <div class="form-group">
            <label for="startOfAd">Start date</label>
            <input type="datetime-local" id="startOfAd" formControlName="startOfAd" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && addAdForm.get('startOfAd').errors }" />
            <div *ngIf="submitted && addAdForm.get('startOfAd').errors" class="invalid-feedback">
              <div *ngIf="addAdForm.get('startOfAd').errors['required']">Phone Number is required</div>
              <div *ngIf="addAdForm.get('startOfAd').errors['minlength']">A phone number must have at least 9
                digits
              </div>
            </div>
          </div>

            <div class="form-group">
              <label for="endOfAd">End date</label>
              <input type="datetime-local" id="endOfAd" formControlName="endOfAd" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addAdForm.get('endOfAd').errors }" />
              <div *ngIf="submitted && addAdForm.get('endOfAd').errors" class="invalid-feedback">
                <div *ngIf="addAdForm.get('endOfAd').errors['required']">Phone Number is required</div>
                <div *ngIf="addAdForm.get('endOfAd').errors['minlength']">A phone number must have at least 9
                  digits
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="place">Place</label>
              <input type="text" id="place" formControlName="place" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addAdForm.get('place').errors }" />
              <div *ngIf="submitted && addAdForm.get('place').errors" class="invalid-feedback">
                <div *ngIf="addAdForm.get('place').errors['required']">Phone Number is required</div>
                <div *ngIf="addAdForm.get('place').errors['minlength']">A phone number must have at least 9
                  digits
                </div>
              </div>
            </div>
            <div>
              <mat-form-field>
                <mat-select id="price" formControlName="price" class="form-control" placeholder="Select a PriceList">
                  <mat-option *ngFor="let option of priceLists" value="{{option.id}}">{{option.id}}</mat-option>
                </mat-select>
              </mat-form-field>
              <form>
                <button mat-raised-button color="warn" (click)="view()">View pricelist</button>
              </form>
            </div>
            <div></div>
              <div class="form-group">
              <label for="mileage">Mileage</label>
              <input type="text" id="mileage" formControlName="mileage" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && addAdForm.get('mileage').errors }" />
              <div *ngIf="submitted && addAdForm.get('mileage').errors" class="invalid-feedback">
                <div *ngIf="addAdForm.get('mileage').errors['required']">Phone Number is required</div>
                <div *ngIf="addAdForm.get('mileage').errors['minlength']">A phone number must have at least 9
                  digits
                </div>
              </div>
            </div>


              <div class="form-group">
                <label for="distanceAllowed">Distance allowed</label>
                <input type="text" id="distanceAllowed" formControlName="distanceAllowed" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && addAdForm.get('distanceAllowed').errors }" />
                <div *ngIf="submitted && addAdForm.get('distanceAllowed').errors" class="invalid-feedback">
                  <div *ngIf="addAdForm.get('distanceAllowed').errors['required']">Phone Number is required</div>
                  <div *ngIf="addAdForm.get('distanceAllowed').errors['minlength']">A phone number must have at least 9
                    digits
                  </div>
                </div>
              </div>


            <div>
              <mat-form-field>
                <mat-select id="cdw" formControlName="cdw" class="form-control" placeholder="Collision damage waiver">
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

              <div class="form-group">
                <label for="childSeats">Child seats</label>
                <input type="text" id="childSeats" formControlName="childSeats" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && addAdForm.get('childSeats').errors }" />
                <div *ngIf="submitted && addAdForm.get('childSeats').errors" class="invalid-feedback">
                  <div *ngIf="addAdForm.get('childSeats').errors['required']">Phone Number is required</div>
                  <div *ngIf="addAdForm.get('childSeats').errors['minlength']">A phone number must have at least 9
                    digits
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="carBrand">Car brand</label>
                <input type="text" id="carBrand" formControlName="carBrand" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && addAdForm.get('carBrand').errors }" />
                <div *ngIf="submitted && addAdForm.get('childSeats').errors" class="invalid-feedback">
                  <div *ngIf="addAdForm.get('carBrand').errors['required']">Phone Number is required</div>
                  <div *ngIf="addAdForm.get('carBrand').errors['minlength']">A phone number must have at least 9
                    digits
                  </div>
                </div>
              </div>

             <div>
               <mat-form-field>
                 <mat-select id="carType" formControlName="carType" class="form-control" placeholder="Select a car type">
                   <mat-option *ngFor="let option of carTypes" value="{{option.type}}">{{option.type}}</mat-option>
                 </mat-select>
               </mat-form-field>
              </div>

              <div class="form-group">
                <label for="carModel">Car model</label>
                <input type="text" id="carModel" formControlName="carModel" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && addAdForm.get('carModel').errors }" />
                <div *ngIf="submitted && addAdForm.get('carModel').errors" class="invalid-feedback">
                  <div *ngIf="addAdForm.get('carModel').errors['required']">Phone Number is required</div>
                  <div *ngIf="addAdForm.get('carModel').errors['minlength']">A phone number must have at least 9
                    digits
                  </div>
                </div>
              </div>

            <div>
              <mat-form-field>
                <mat-select id="transmissionType" formControlName="transmissionType" class="form-control" placeholder="Select a transmission type">
                  <mat-option *ngFor="let option of transTypes" value="{{option.type}}">{{option.type}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
                <mat-form-field>
                  <mat-select id="fuelType" formControlName="fuelType" class="form-control" placeholder="Select a fuel type">
                    <mat-option *ngFor="let option of fuelTypes" value="{{option.type}}">{{option.type}}</mat-option>
                  </mat-select>
                </mat-form-field>
            <div>
              <button mat-raised-button style="position: center" color="primary" class="pull-right">Save</button>
            </div>
          </form>
        </mat-card>
    </div>
  </div>
</div>
</div>
