<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="sadrzaj">
        <div class="row">
          <div class="col-md-12">
            <div class="naslov">
              <h3>Exclusive Limo Service &amp; Rent a Car - O nama   </h3>
            </div>
            <p>
              Kompanija Lumuzin servis Exclusive je specijalizovana za usluge prevoza luksuznim limuzinama, srednjom klasom vozila kao i za Rent-a-car usluge. Kompanija Limuzin servis Exclusive postoji od 2001 godine . Tokom ovih godina rada saradjivali smo sa mnogo kompanija sirom sveta( iz USA, Velike Britanije, Francuske, Grčke, Holandije, Ujedinjenih Arapskih Emirata, Italije, Kine, Japana, Rusije, Bruneja, Turske...) Cesto radimo za visoke delegacije sa pratnjom. Imamo dugogodišnje saradnje sa mnogim kompanijama u zemlji.<br><br>

              Obezbeđujemo usluge prevoza širom Evrope i Srbije i prevoz na relaciji aerodrom Nikola Tesla - hoteli u gradu - aerodrom Nikola Tesla. Takođe imamo saradnju sa mnogim hotelima u gradu.<br><br>

              Uspešnu saradnju imamo i sa mnogim ambasadama u našoj zemlji.<br><br>

              U ponudi imamo automobile visoke i srednje klase sa vozačima. Ova ponuda obuhvata vozila marki: Mercedes S class, Mercedes E class, Mercedes V class 2015, Audi A6, Opel Insignia. Svi automobili su stari do 2 godine i crne boje su. Sa vozačima mogu da se iznajme i vozila Opel Vivaro 2015 (8+1). Minibuseve većih kapaciteta ili autobuse obezbeđujemo u saradnji sa poslovnim partnerima.<br><br>

              Sva naša vozila poseduju klimu i svu ostalo opremu koja garantuje udobnu i sigurnu voznju.<br><br>

              Svi naši vozači odlično govore engleski jezik, a takođe imamo vozače koji govore francuski, nemački i ruski jezik. Uvek su obučeni prema evropskim i svetskim standardima.<br><br>

              Pored usluga prevoza, nudimo i najam automobila bez vozača. Sve detalje možete pogledati na Rent a car strani.<br><br>

              Klijentima je zagarantovana diskrecija.<br><br>

              Njihove i Vaše preporuke su garant kvaliteta naše usluge, za koju se svaki dan trudimo da bude što bolja i raznovrsnija.<br>
            </p>
            <img src="1.jpg" alt="Exclusive d.o.o. Rent a car &amp; Limo Service" class="img-responsive">


          </div>
        </div>




      </div>

    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <div class="prognoza">
          <h6>Vremenska prognoza</h6><br>
          <iframe class="embed-responsive-item" id="iframe_navidiku_vreme" src="http://www.navidiku.rs/webtools/vreme//FFFFFF/FFFFFF/000000/FFFFFF/CFCFCF/15/1/trenutno-vreme.html" frameborder="0" scrolling="auto" height="250" width="90%"></iframe><div style="width=250px"><a id="navidiku_vreme" href="http://www.navidiku.rs/vremenska-prognoza/" target="_blank">Vremenska prognoza</a></div><br><br>

        </div>
        <div class="kursna-lista">
          <h6>Kursna lista</h6><br>
          <iframe class="embed-responsive-item" id="iframe_vreme" src="http://www.naslovi.net/plugin/kursna_lista.php?bgcolor=ffffff&amp;color=000000" frameborder="0" height="90" scrolling="no" width="200"><a href='http://www.naslovi.net/kursna-lista'>Kursna lista</a></iframe>

        </div>
      </div>
    </div>
  </div>

</div>
